body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(../img/Editorial/Copy\ of\ E\ 4.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#navbar {
    /* gradiente el background */
    background:coral;
    position:fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

section.contacto{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.contact-section {
    /* background semi transparente */
    /* background: rgba(255, 255, 255, 0.1); 90% de opacidad */
    background: transparent;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    color:#ffa500;
}

.contact-section p {
    color: #333;
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
}

.contact-section a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffa744;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .contact-section {
        width: 90%;
        padding: 15px;
    }
    

    .contact-section h2 {
        font-size: 2rem;
    }
    .contact-section a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .contact-section {
        width: 100%;
        padding: 10px;
    }

    .contact-section h2 {
        font-size: 1.5rem;
    }

    .contact-section a {
        font-size: .90rem;
    }
}
/* Estilos para el footer */

.footer {
    position:relative;
    float: inline-end;
    width: 100%;
    height: auto;
    background: transparent;
    /* background: rgba(255, 255, 255, 0.1); 90% de opacidad */
}

.footer .contenedor {
    margin: 0px 0px 0px 0px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.footer .contenedor p {
    color: #fff;
    font-size: 1rem;
    margin: 10px 10px;
    padding: 0.5rem;
}

.footer .contenedor a {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
}

.footer .contenedor a:hover {
    color: #ccc;
}
