body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #fff;
}

header.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#navbar {
    /* gradiente el background */
    background:coral;
    position:fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    background: #ddd;
    display: flex;
    flex-wrap:wrap;
    padding: 0 4px;
    /*align-items: flex-start; /* Alinear las columnas al inicio */
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;/* Ajustar el ancho de las columnas */
    max-width: 100%; /* Ajustar el ancho máximo de las columnas */
    padding: 0 4px; /* Añadir algo de espacio entre las columnas */
    height: auto; /* Ajustar la altura de las columnas */
    margin: 0; /* Eliminar márgenes automáticos */
    box-sizing: border-box; /*Asegurar que el padding se incluya en el ancho total */
}
  
.column img {
    margin-top: 2px;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 25%; /* Ajustar el ancho de las columnas */
      max-width: 50%; /* Ajustar el ancho máximo de las columnas */
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%; /* Ajustar el ancho de las columnas */
      max-width: 100%; /* Ajustar el ancho máximo de las columnas */
      
    }

}

/* Estilos para el footer */

.footer {
    position:relative;
    float: inline-end;
    width: 100%;
    height: auto;
    background-color: coral;
}

.footer .contenedor {
    margin: 0px 0px 0px 0px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.footer .contenedor p {
    color: #fff;
    font-size: 1rem;
    margin: 10px 10px;
    padding: 0.5rem;
}

.footer .contenedor a {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
}

.footer .contenedor a:hover {
    color: #ccc;
}

