body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #fff;
}

header.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#navbar {
    /* gradiente el background */
    background:coral;
    position:fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
.galeria {
    padding: 10px;
}
.row {
    background: #ddd;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    /* padding: 0 4px; */
    
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 1;/* Ajustar el ancho de las columnas */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 100%;  Ajustar el ancho máximo de las columnas 
    padding: 0 4px; Añadir algo de espacio entre las columnas 
    height: auto;  Ajustar la altura de las columnas 
    margin: 0;  Eliminar márgenes automáticos 
    box-sizing: border-box; /*Asegurar que el padding se incluya en el ancho total 
    */
} 
  
.column img {
    width: 100%;
    height: 1000px;
    object-fit: cover; /* Recorta las imágenes para que encajen sin deformarse */
    border-radius: 5px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra para un mejor estilo */
    /* margin-top: 2px;
    margin-bottom: 8px; */
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .row {
        gap: 5px; /* Reduce el espacio entre columnas en pantallas pequeñas */
    }
    .column {
        flex: 1 1 100%; /* Una columna en dispositivos móviles */
    }
}


/* Estilos para el footer */

.footer {
    position:relative;
    float: inline-end;
    width: 100%;
    height: auto;
    background-color: coral;
}

.footer .contenedor {
    margin: 0px 0px 0px 0px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.footer .contenedor p {
    color: #fff;
    font-size: 1rem;
    margin: 10px 10px;
    padding: 0.5rem;
}

.footer .contenedor a {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
}

.footer .contenedor a:hover {
    color: #ccc;
}

