body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #fff;
}


header.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#navbar {
    /* gradiente el background */
    background:coral;
    position:fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Intro */ 
.intro, .about {
    background: #ddd;
    width: 100%;
    display: flex;
    flex-direction: row; /* Cambiar a fila para alinear los elementos horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
    justify-content: center;
}

.intro .contenedor-texto, .about .contenedor-texto {
    margin-top: 1rem; /* Añadir margen superior para separar los elementos */
    flex: 1; /* Permitir que el contenedor de texto ocupe el espacio disponible */
    max-width: 45%; /* Limitar el ancho máximo al 50% */
    padding: 1rem; /* Añadir padding para un mejor espaciado */
}

.intro .contenedor-imagen, .about .contenedor-imagen {
    margin-top: 1rem; /* Añadir margen superior para separar los elementos */
    margin-right: 10.5rem;
    flex: 1; /* Permitir que el contenedor de imagen ocupe el espacio disponible */
    max-width: 25%; /* Limitar el ancho máximo al 50% */
    padding: 1rem; /* Añadir padding para un mejor espaciado */
    display: flex;
    justify-content: center; /* Centrar la imagen horizontalmente */
    align-items: center; /* Centrar la imagen verticalmente */
}

.intro .contenedor-imagen img, .about .contenedor-imagen img {
    width: 100%; /* Asegurar que la imagen cubra todo el ancho del contenedor */
    object-fit: cover; /* Escalar y recortar la imagen para llenar el contenedor */
    border-radius: 2%;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .intro {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    }

    .intro .contenedor-texto,
    .intro .contenedor-imagen {
        max-width: 100%; /* Permitir que los contenedores ocupen el 100% del ancho */
    }
}

section.mini-galeria {
    background: #333;
    width: 100%;
}

/* Sección de proyectos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.grid-item p {
    margin: 0;
    padding: 1rem;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}




/* About */

.about .contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about .contenedor-texto .button {
    display: inline-block; /* Asegurar que los botones estén en línea */
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.about .contenedor-texto .button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .intro, .about {
        flex-direction: column;
    }

    .intro .contenedor-texto, .intro .contenedor-imagen,
    .about .contenedor-texto, .about .contenedor-imagen {
        max-width: 100%;
    }
}

/* Estilos para el footer */

.footer {
    position:relative;
    float: inline-end;
    width: 100%;
    height: auto;
    background-color: coral;
}

.footer .contenedor {
    margin: 0px 0px 0px 0px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.footer .contenedor p {
    color: #fff;
    font-size: 1rem;
    margin: 10px 10px;
    padding: 0.5rem;
}

.footer .contenedor a {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
}

.footer .contenedor a:hover {
    color: #ccc;
}