body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #fff;
}


header .contenedor h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    color: #000;

}

/* The side navigation menu */
.sidebar {
    float: left;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position:relative;
      float: none;
    }

    .sidebar .titulo {
        width: 100%;
        text-align: center;

    }
    .sidebar a {
        float: none;
        width: 100%;
        text-align: center;
    }
    .contenido {
        margin-left: 0;
    }


}
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        float: none;

    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    section.about {
        margin-top: 5rem; /* Añade espacio superior a la sección "about" */
    }
    .contenido {
        margin-left: 0;
    }
}

/* Style the content */
.contenido{
    margin-left: 15%;
    /*ajusta el contenido a la derecha del sidebar*/
}
  

/* seccion sobre mi */
section.about {
    width: 100%;
    background-image: linear-gradient(45deg, #07d1be, #027c74);
    padding: 0;
}
section.about .contenedor {
    width: 60%;
    margin: auto; /* Centra el contenido */
    text-align: center;
    /*agrega un degradado de color de fondo*/
    padding: 1rem 0; /* Añade espacio alrededor del contenido */
}

section.about .contenedor h2 {
    color: #fff;
    font-size: 2rem; /* Tamaño del texto */
    margin: 20px 20px; /* Espaciado vertical */
    padding: 1rem;
}

section.about .contenedor .texto {
    width: 100%; 
}
section.about .contenedor .texto p {
    color: #fff;
    font-size: 1rem; /* Tamaño del texto */
    margin: 20px 20px; /* Espaciado vertical */
    padding: 1rem;
}

/* Estilo específico para la foto de perfil */
.profile-pic {
    width: 500px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción original */
    /* agregar un cuadro sombreado */
    border: 1px solid #000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* como se aumenta la sombra 
    10px: Desplazamiento horizontal de la sombra.
    10px: Desplazamiento vertical de la sombra.
    20px: Desenfoque de la sombra (aumenta este valor para hacer la sombra más difusa).*/

    /*border-radius: 50%; /* Hace que la imagen sea circular */
    /*margin-bottom: 1rem; /* Añade espacio debajo de la imagen */
}

/* Media queries para diseño responsive */
@media screen and (max-width: 1024px) {
    section.about {
        width: 100%;
    }
    section.about .contenedor {
        width: 60%;
    }
    section.about .contenedor h2 {
        font-size: 1.8rem;
    }
    .profile-pic {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    section.about {
        width: 100%;
    }
    section.about .contenedor {
        width: 60%;
    }
    section.about .contenedor h2 {
        font-size: 1.5rem;
    }
    .profile-pic {
        width: 300px;
    }
    .contenido{
        margin-left: 0;
        /*ajusta el contenido a la derecha del sidebar*/
    }
}

@media screen and (max-width: 480px) {
    section.about {
        width: 100%;
        margin-left: 0;
    }
    section.about .contenedor {
        width: 60%;
    }
    section.about .contenedor h2 {
        font-size: 1.2rem;
    }
    .profile-pic {
        width: 200px;
    }
}

/* seccion de galeria */
section.galeria {
    width: 100%;
    background-image: linear-gradient(45deg, #0798d1, #027c74);
    padding: 0;
}

section.galeria h2 {
    margin-top: 0 !important; /* Elimina el margen superior */
    color: #fff;
    font-size: 2rem; /* Tamaño del texto */
    text-align: center;
    padding: 1rem;
}

section.galeria .contenedor-galeria {
    width: 60%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: auto; /* Centra el contenido */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
    gap: 1rem;
    padding-bottom: 10rem;
}

.foto {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.foto img {
    width: 100%;
    height: auto; /* Mantiene la proporción original */
    transition: transform 0.3s ease;
}

.foto:hover img {
    transform: scale(1.1);
}

.foto p {
    position: absolute;
    bottom: -2;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    transition: background 0.3s ease;
}

.foto:hover p {
    background: rgba(0, 0, 0, 0.7);
}

/* Media queries para diseño responsive */
@media screen and (max-width: 1024px) {
    section.galeria {
        width: 100%;
    }
    section.galeria h2 {
        font-size: 1.8rem;
    }
    section.galeria .contenedor-galeria {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    section.galeria {
        width: 100%;
    }
    section.galeria h2 {
        font-size: 1.5rem;
    }
    section.galeria .contenedor-galeria {
        width: 60%;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
    }
}

@media screen and (max-width: 480px) {
    section.galeria {
        width: 100%;
    }
    section.galeria h2 {
        font-size: 1.2rem;
    }
    section.galeria .contenedor-galeria {
        width: 60%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
    }
}
/* Modal Styles */

/* Estilos para el modal */
#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el footer */


.footer {
    width: 100%;

    background-color: #333;
}

.footer .contenedor {
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.footer .contenedor p {
    color: #fff;
    font-size: 1rem;
    margin: 20px 20px;
    padding: 0.5rem;
}

.footer .contenedor a {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
}

.footer .contenedor a:hover {
    color: #ccc;
}

/* Media queries para diseño responsive */
@media screen and (max-width: 1024px) {
    .footer {
        width: 100%;
        margin: auto;
    }
    .footer .contenedor {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 100%;
    }
    .footer .contenedor {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        width: 100%;
        margin-left: 0;
    }
    .footer .contenedor {
        width: 90%;
    }
    .footer .contenedor p {
        font-size: 0.9rem;
    }
}